{% extends 'payapp/base.html' %}

{% block title %}
    Payapp Homepage
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h5>Welcome, <em>{{ user.username }}</em>! <br> Your Balance: {{ account.amount }}</h5>
        <ul>
            <li><a href="{% url 'list_transactions' %}">View Transactions</a></li>
            <li><a href="{% url 'points_transfer' %}">Make a Payment</a></li>
{#          <li><a href="{% url 'request_payment' %}">Request a Payment</a></li>#}
        </ul>
    {% else %}
        <h5>Payapp Homepage. Please <a href="{% url 'login' %}">login</a> to start ...</h5>
    {% endif %}
{% endblock %}
