{% extends 'payapp/base.html' %}

{% block title %}View Transactions{% endblock %}

{% block content %}
    <h2>Transactions</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.sender.username }}</td>
                <td>{{ transaction.receiver.username }}</td>
                <td>${{ transaction.amount }}</td>
                <td>{{ transaction.timestamp|date:"Y-m-d H:i" }}</td>
                <td>{{ transaction.status }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No transactions found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
